<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CLIENT_DETAIL.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button expand="block" color="blue-gray" (click)="navegarAVisita()">
      {{ 'CLIENT_DETAIL.REGISTER_VISIT' | translate }}
    </ion-button>
  </div>

  <ion-list *ngIf="visitas.length > 0">
    <ion-item-divider color="light">
      <ion-label>{{ 'CLIENT_DETAIL.REGISTERED_VISITS' | translate }}</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let visita of visitas" lines="none">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{ visita.fecha_visita | date:'short' }}
            <ion-chip color="{{visita.realizo_pedido ? 'success' : 'danger'}}">
              {{ realizoPedido(visita.realizo_pedido) }}
            </ion-chip>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ visita.observaciones || ('CLIENT_DETAIL.NO_OBSERVATIONS' | translate) }}
        </ion-card-content>

        <ion-button
          *ngIf="visita.key_object_storage"
          color="danger"
          size="small"
          fill="solid"
          (click)="verVideo(visita)"
          class="ion-margin"
        >
          <ion-icon slot="start" name="videocam-outline"></ion-icon>
          {{ 'CLIENT_DETAIL.VIDEO' | translate }}
        </ion-button>
        <ion-button
          *ngIf="visita.recomendacion"
          fill="solid"
          color="blue-gray"
          (click)="verRecomendacion(visita)"
        >
          <ion-icon slot="start" name="bulb-outline"></ion-icon>
          {{ 'CLIENT_DETAIL.RECOMMENDATION' | translate }}
        </ion-button>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="visitas.length === 0">
    <ion-card-content class="ion-text-center">
      {{ 'CLIENT_DETAIL.NO_VISITS' | translate }}
    </ion-card-content>
  </ion-card>
</ion-content>
