<div class="card">
    <p-dialog
        [(visible)]="visible"
        [modal]="true"
        [maximizable]="true"
        [draggable]="false"
        [resizable]="false"
        header="Carga Masiva de Productos"
        (onHide)="closeModal()">

        <div class="grid">
            <div class="col-12">
                <p-fileUpload
                    #fileUpload
                    name="file"
                    [customUpload]="true"
                    (uploadHandler)="uploadFile()"
                    [auto]="false"
                    chooseLabel="Seleccionar Archivo"
                    uploadLabel="Cargar"
                    cancelLabel="Cancelar"
                    [showUploadButton]="true"
                    [showCancelButton]="true"
                    accept=".csv"
                    (onSelect)="onFileSelect($event)">
                </p-fileUpload>
            </div>

            <div class="col-12">
                <p-table [value]="csvFiles" [scrollable]="true" [tableStyle]="{ 'min-width': '100%' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 20%">Nombre</th>
                            <th style="width: 10%">Estado</th>
                            <th style="width: 15%">Total</th>
                            <th style="width: 15%">Cargados</th>
                            <th style="width: 25%">Fecha</th>
                            <th style="width: 15%">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-file>
                        <tr>
                            <td style="width: 20%">{{file.nombre_archivo}}</td>
                            <td style="width: 10%">
                                <div
                                    pTooltip="{{getErrorSummary(file)}}"
                                    tooltipPosition="top"
                                    [escape]="false">
                                    <p-tag
                                        [severity]="getStatusSeverity(file.estado)"
                                        [value]="file.estado">
                                    </p-tag>
                                </div>
                            </td>
                            <td style="width: 15%">{{file.total_registros}}</td>
                            <td style="width: 15%">{{file.registros_cargados}}</td>
                            <td style="width: 25%">{{file.fecha_carga | date:'short'}}</td>
                            <td style="width: 15%">
                                <div class="flex gap-2">
                                    <p-button
                                        icon="pi pi-download"
                                        [rounded]="true"
                                        [text]="true"
                                        (onClick)="downloadFile(file)"
                                        [disabled]="!file.url"
                                        pTooltip="Descargar archivo">
                                    </p-button>
                                    <p-button
                                        *ngIf="file.estado === 'error' && file.errores_procesamiento?.length"
                                        icon="pi pi-exclamation-circle"
                                        [rounded]="true"
                                        [text]="true"
                                        severity="danger"
                                        (onClick)="showErrorDetails(file)"
                                        pTooltip="Ver errores">
                                    </p-button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-dialog>

    <p-dialog
        [(visible)]="errorDialogVisible"
        header="Errores de Procesamiento"
        [modal]="true"
        [maximizable]="true"
        [style]="{ width: '600px' }">
        <p-table [value]="currentFileErrors" [scrollable]="true" [tableStyle]="{ 'min-width': '100%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 30%">SKU</th>
                    <th style="width: 70%">Error</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-error>
                <tr>
                    <td style="width: 30%">{{error.row?.sku || 'N/A'}}</td>
                    <td style="width: 70%" class="text-red-500">{{error.error}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>
</div>
