<p-toast position="top-right"></p-toast>
<p-dialog
    header="Agregar Usuario"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '40rem', height: '90rem' }">
    <form [formGroup]="userForm" class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
            <label for="nombre" class="font-light w-24">Nombre</label>
            <input placeholder="Nombre" pInputText id="nombre" formControlName="nombre" class="w-full" autocomplete="off" />
            <small class="text-red-500" *ngIf="userForm.get('nombre')?.invalid && userForm.get('nombre')?.touched">Este campo es requerido</small>
        </div>
        <div class="flex flex-col gap-2">
            <label for="correo" class="font-light w-24">Correo</label>
            <input placeholder="Correo" pInputText id="correo" formControlName="correo" class="w-full" autocomplete="off" />
            <small class="text-red-500" *ngIf="userForm.get('correo')?.invalid && userForm.get('correo')?.touched">Este campo es requerido</small>
        </div>
        <div class="flex flex-col gap-2">
            <label for="contrasena" class="font-light w-24">Contraseña</label>
            <input placeholder="Contraseña" pInputText id="contrasena" type="password" formControlName="contrasena" class="w-full" autocomplete="off" />
            <small class="text-red-500" *ngIf="userForm.get('contrasena')?.invalid && userForm.get('contrasena')?.touched">Este campo es requerido</small>
        </div>
        <div class="flex flex-col gap-2">
          <label for="repassword" class="font-light w-24">Confirmar Contraseña</label>
          <input placeholder="Confirmar Contraseña" pInputText id="repassword" type="password" formControlName="repassword" class="w-full" autocomplete="off" />
          <small class="text-red-500" *ngIf="userForm.get('repassword')?.invalid && userForm.get('repassword')?.touched">Este campo es requerido</small>
          <small class="text-red-500" *ngIf="userForm.hasError('passwordsMismatch') && userForm.get('repassword')?.touched">
            Las contraseñas no coinciden
          </small>
        </div>


        <div class="flex flex-col gap-2">
            <label for="estado" class="font-light">Estado</label>
            <p-select
                [options]="estadosOptions"
                formControlName="estado"
                optionLabel="label"
                optionValue="value"
                [filter]="false"
                placeholder="Seleccione un estado"
                class="w-full">
            </p-select>
        </div>

        <div class="flex flex-col gap-2">
          <label for="rol" class="font-light">Rol</label>
          <p-select
              [options]="roles"
              formControlName="rol"
              optionLabel="nombre"
              optionValue="id"
              [filter]="false"
              [showClear]="true"
              placeholder="Seleccione"
              class="w-full">
          </p-select>
      </div>

      <div class="form-status">
        <h3>Estado del formulario:</h3>
        <pre>{{ userForm.value | json }}</pre>
      </div>

    </form>
    <div class="flex justify-end gap-2 mt-4">
        <p-button label="Cancelar" severity="secondary" (click)="closeModal()" />
        <p-button label="Guardar" [disabled]="userForm.invalid" severity="success" (click)="onSubmit()" />
    </div>
</p-dialog>
