.logo-img {
    width: 50%;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(1px 1px 3px #724a00);
}

.logo-container {
    background-color: var(--ion-color-secondary);
    padding-bottom: 35vh;
    padding-top: 10vh;
}

.login-card {
    position: absolute;
    top: 25%;
    width: 95%;
    min-height: 30vh;
}

.login-form {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.login-form-footer {
    margin-top: 5vh;
    margin-bottom: 2vh;
}


