

<div class="flex h-screen">
  <div class="basis-[40vw]">
    <div class="flex flex-row flex-wrap items-center justify-between p-8" >
      <img src="/CCP_logo.svg" alt="CCP logo" class="w-[150px]">
      <p-select [options]="languages" [(ngModel)]="language" optionLabel="name" placeholder="Select a country" class="w-50">
        <ng-template #dropdownicon>
          <i class="pi pi-globe"></i>
        </ng-template>
      </p-select>
    </div>
  </div>
  <div class="basis-[60vw] flex justify-end items-center pt-8 pb-8">
    <img src="/login_image.png" alt="" class="h-full w-full object-cover rounded-s-[50px]">
  </div>
</div>
