<ion-header>
  <ion-toolbar>
    <ion-title>Grabar Video</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="video-container">
    <video #previewVideo autoplay playsinline></video>
  </div>

  <div class="controls">
    <ion-button expand="block" (click)="startRecording()" [disabled]="isRecording">
      <ion-icon name="videocam"></ion-icon>
      Iniciar Grabación
    </ion-button>
    <ion-button expand="block" (click)="stopRecording()" [disabled]="!isRecording" color="danger">
      <ion-icon name="stop"></ion-icon>
      Detener Grabación
    </ion-button>
  </div>
</ion-content> 