<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pedidos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ORDER_REGISTRATION.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="pedidoForm" (ngSubmit)="guardarPedido()">
    <ion-item *ngIf="!esCliente">
      <ion-label position="stacked">{{ 'ORDER_REGISTRATION.FORM.CLIENT' | translate }}</ion-label>
      <ion-select formControlName="id_cliente" [placeholder]="'ORDER_REGISTRATION.FORM.CLIENT_PLACEHOLDER' | translate">
        <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id_cliente">
          {{ cliente.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-padding-vertical ion-text-center">
      <ion-button (click)="mostrarBusquedaProductos = true" color="primary" size="small">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        {{ 'ORDER_REGISTRATION.FORM.ADD_PRODUCT' | translate }}
      </ion-button>

      <!-- Popup de búsqueda de productos -->
      <ion-modal
        [isOpen]="mostrarBusquedaProductos"
        [breakpoints]="[0.5]"
        [initialBreakpoint]="0.5"
        (didDismiss)="mostrarBusquedaProductos = false">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>{{ 'ORDER_REGISTRATION.FORM.SEARCH_PRODUCT' | translate }}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="mostrarBusquedaProductos = false">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-searchbar
              [value]="terminoBusqueda"
              (ionInput)="buscarProductos($event)"
              [placeholder]="'ORDER_REGISTRATION.FORM.SEARCH_PLACEHOLDER' | translate"
              [animated]="true"
            ></ion-searchbar>
            <ion-list>
              <ion-item *ngFor="let producto of productosFiltrados">
                <ion-label>
                  <h2>{{ producto.nombre }}</h2>
                  <p>{{ 'ORDER_REGISTRATION.FORM.PRICE' | translate }}: ${{ producto.precio | number:'1.0-0' }}</p>
                  <p>{{ 'ORDER_REGISTRATION.FORM.AVAILABLE' | translate }}: {{ producto.inventario }}</p>
                </ion-label>
                <ion-input
                  type="number"
                  [min]="1"
                  [max]="producto.inventario"
                  [value]="cantidadesSeleccionadas[producto.id_producto] || 1"
                  (ionInput)="actualizarCantidad(producto, $event)"
                  slot="end"
                  style="max-width: 80px;"
                ></ion-input>
                <ion-button slot="end" (click)="agregarProducto(producto, cantidadesSeleccionadas[producto.id_producto] || 1)">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item *ngIf="mostrarMensajeNoResultados && terminoBusqueda.length >= 3" lines="none">
                <ion-label class="ion-text-center">
                  <p>{{ 'ORDER_REGISTRATION.PRODUCT_SEARCH.NO_RESULTS' | translate:{ term: terminoBusqueda } }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

      <!-- Lista de productos seleccionados -->
      <ion-item style="color: var(--ion-color-medium);">{{ 'ORDER_REGISTRATION.FORM.ADDED_PRODUCTS' | translate }}</ion-item>
      <ion-list *ngIf="productosSeleccionados.length > 0">
        <ion-item-sliding *ngFor="let producto of productosSeleccionados">
          <ion-item>
            <ion-label>
              <h2>{{ producto.nombre }}</h2>
              <p>{{ 'ORDER_REGISTRATION.FORM.PRICE' | translate }}: ${{ producto.precio | number:'1.0-0' }}</p>
              <p>{{ 'ORDER_REGISTRATION.FORM.QUANTITY' | translate }}: {{ producto.cantidad_seleccionada }} × ${{ producto.precio | number:'1.0-0' }} = ${{ producto.precio * producto.cantidad_seleccionada | number:'1.0-0' }}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="eliminarProducto(producto)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <ion-item>
      <ion-label position="stacked">{{ 'ORDER_REGISTRATION.FORM.PAYMENT_METHOD' | translate }}</ion-label>
      <ion-select formControlName="medioPago" [placeholder]="'ORDER_REGISTRATION.FORM.PAYMENT_PLACEHOLDER' | translate">
        <ion-select-option *ngFor="let medio of mediosPago" [value]="medio.id_metodo_pago">
          {{ medio.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'ORDER_REGISTRATION.FORM.SHIPPING_METHOD' | translate }}</ion-label>
      <ion-select formControlName="id_metodo_envio" [placeholder]="'ORDER_REGISTRATION.FORM.SHIPPING_PLACEHOLDER' | translate">
        <ion-select-option *ngFor="let metodo of metodosEnvio" [value]="metodo.id_metodo_envio">
          {{ metodo.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'ORDER_REGISTRATION.FORM.DELIVERY_DATE' | translate }}</ion-label>
      <ion-input
        readonly
        [value]="pedidoForm.get('fechaEntrega')?.value | date:'dd/MM/yyyy HH:mm'"
        (click)="mostrarCalendario = true"
        [placeholder]="'ORDER_REGISTRATION.FORM.DELIVERY_PLACEHOLDER' | translate">
      </ion-input>
    </ion-item>

    <ion-modal
      [isOpen]="mostrarCalendario"
      (didDismiss)="mostrarCalendario = false"
      [breakpoints]="[0.5]"
      [initialBreakpoint]="0.5">
      <ng-template>
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-title>{{ 'ORDER_REGISTRATION.FORM.DELIVERY_DATE_TIME' | translate }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="mostrarCalendario = false">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-datetime
            formControlName="fechaEntrega"
            presentation="date-time"
            [preferWheel]="true"
            [min]="fechaMinima"
            locale="es-ES"
            hourCycle="h23"
            firstDayOfWeek="1">
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>

    <div class="ion-padding-top ion-text-center">
      <ion-button type="submit" [disabled]="!pedidoForm.valid || productosSeleccionados.length === 0" size="small">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        {{ 'ORDER_REGISTRATION.FORM.SAVE_ORDER' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
