<p-card class="flex flex-col p-0 min-h-screen">
  <div class="flex flex-row justify-between p-4">
    <h1 class="text-4xl font-bold">Reportes</h1>
  </div>

  <div class="flex-grow h-full pb-4">
    <iframe
      src="https://lookerstudio.google.com/embed/reporting/e290e3dd-8bfb-4b01-b95c-249abf58e53a/page/aolKF"
      class="w-full h-full min-h-[85vh]"
      frameborder="0"
      style="border: 0"
      allowfullscreen
      sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
    ></iframe>
  </div>
</p-card>
